PORT=<PORT>
MONGODB_URI=<mongodb-connection-string> 
GROQ_API_KEY=<your-groq-api-key>
CLOUDINARY_CLOUD_NAME=<your-cloudinary-cloud-name>
CLOUDINARY_API_KEY=<your-cloudinary-api-key>
CLOUDINARY_API_SECRET_KEY=<your-cloudinary-api-secret-key>